html, body {
    height: 100%;
}
body {
    margin: 0;
}
.sin-margin {
    margin: 0px !important;
}

.padding-left{
    padding: 0 16px;
}
.text-center{
    text-align: center
}
.padding-table-form{
    padding-right: 32px;
    margin-right: 16px;
}

.full-height-sidebar {
    min-height: calc(100vh - 48px);
}

.contentSubHeader {
    background-color: #fff;
    padding: 0 16px;
}

.main-container-con-margin {
    margin: 24px 16px;
    padding: 24px; 
    background-color  : #fff;
    min-height: 200px;
}

.buttonActions {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom:  16px;
}

.onlyFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.onlyFormSubContainer {
    width: 325px;
}

.spaceContentHeader{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.spaceContentHeader :first-child{
    flex-grow: 1;
}

.action-module{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.margin-left{
    margin-left: 16px;
}

.margin-right{
    margin-right: 16px;
}

.margin-botton-1em{
    margin-bottom: 1em;
}

ul.menu-navegacion{
    padding-top: 16px;
    padding-left: 16px;
}

ul.menu-navegacion li{
    display: inline;
}

ul.menu-navegacion li a {
    color: rgba(0,0,0,.45);
}

ul.menu-navegacion li a  :hover {
    color:#1890ff;
}

.form-menu-food .ant-row.ant-form-item{
margin-bottom: 0px;
}

.form-menu-food .ant-form-item:nth-child(4){
    margin-bottom: 24px;
}

.action-module{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
}

.action-module :nth-child(1){
    flex-grow: 1;
}

.form-menu-food{
    padding-left: 16px;
    border-left: 1px solid #d9d9d9;
}

.ant-layout-sider-trigger{
    color: #1990ff;
    background: #fff;
}

.ant-layout-sider{
    background: #fff !important;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
.trigger:hover {
    color: #1890ff;
}